# Niimpy

Niimpy allows you to access Koota sqlite databases easily.

## Demo

In [1]:
import niimpy

In [2]:
%load_ext autoreload
%autoreload 1
%aimport niimpy

In [3]:
data = niimpy.open("sampledata-singleuser.sqlite3")

Detected single-user database

This sample data is a single-user database - basically, it doesn't have `user` and `device` columns.  The `user` column will identify which user the data belongs to, and in a multi-user database, you can select a certain user by using a standard `user=` argument.

A user can have multiple devices of the same type, and different devices are identified with the `device` column.  Currently there is no advanced support for this.

In [4]:
# This returns nothing, because this is a single-user database
# Otherwise, it would return a list of all user hashes
data.users()

In [5]:
# The sample data included with niimpy only has AwareScreen data.
# You can read about the AWARE Screen sensor here:
#   http://www.awareframework.com/screen/
data.tables()

{'AwareScreen'}

### Looking at the data

You can look at raw data (this is basically the exact columns in the database)

In [6]:
screen = data.raw('AwareScreen', None)
# This is a pandas DataFrame
screen.head()

,time,screen_status,datetime
2018-07-09 21:13:17.933000088,1.531171e+09,1,2018-07-09 21:13:17.933000088
2018-07-09 21:13:28.671999931,1.531171e+09,0,2018-07-09 21:13:28.671999931
2018-07-09 21:13:28.717999935,1.531171e+09,2,2018-07-09 21:13:28.717999935
2018-07-10 09:05:05.299000025,1.531214e+09,1,2018-07-10 09:05:05.299000025
2018-07-10 09:05:09.782999992,1.531214e+09,0,2018-07-10 09:05:09.782999992

Get the first timestamp of the data

In [7]:
data.first('AwareScreen', None)['datetime'][0]

Timestamp('2018-07-09 21:13:17.933000088')

Let's use this chance to discuss some common column names:
* `time` always referrs to a unixtime
* `datetime` always referrs to a `pandas.Timestamp`
* the dataframe index is usually pandas timestamps if appropriate - same as `datetime`.